{% extends "base.html" %} {% block title %} Home - Todolist App {% endblock %} {% block
content %}
<div class="homepage-content">
    <div class="homepage-content__heading">
        </br>
        <h3>Welcome to Todolist Application</h3>
        <h3>Notes List</h3>
    </div>

    <div>
        <ul class="list-group list-group-flush" id="notes">
            {% for note in user.notes%}
            <div class="list-group-item-wrap">
                <li class="list-group-item" data-id="{{note.id}}">{{note.data}}</li>

                <input type="text" class="list-group-item-input" data-id="{{note.id}}"/>

                <button onclick="saveEditNote(`{{note.id}}`)" class="save-edit-note-btn">Save</button>
                
                <button onclick="editNote(`{{note.id}}`)" class="edit-note-btn">Edit</button>

                <button onclick="deleteNote(`{{note.id}}`)" class="delete-note-btn">Delete</button>
            </div>
            {% endfor %}
        </ul>

        <div>
            <textarea name="new_note" id="new_note" class="form-control"></textarea>
            </br>
            <button onclick="addNote()" class="btn btn-primary">Add Note</button>
            </br>
        </div>
    </div>
</div>

<script type="text/javascript">
    const addNote = async () => {
        const new_note = document.getElementById("new_note").value;

        await fetch("/add-note", {
            method: "POST",
            body: JSON.stringify({ new_note: new_note })
        })
            .then(response => {
                window.location.href = "/";
            })
    }

    const editNote = (note_id) => {
        const h1Tags = document.querySelectorAll(".list-group-item");
        Array.from(h1Tags).map(h1Tag => {
            if (h1Tag.getAttribute("data-id") == note_id) {
                h1Tag.parentNode.children[1].style.display = "block";
                h1Tag.parentNode.children[2].style.display = "block";
            } else {
                h1Tag.parentNode.children[1].style.display = "none";
                h1Tag.parentNode.children[2].style.display = "none";
            }
        })
    }

    const saveEditNote = async (note_id) => {
        let note_edit_value = "";
        const inputTags = document.querySelectorAll(".list-group-item-input");

        Array.from(inputTags).map(inputTag => {
            if (inputTag.getAttribute("data-id") == note_id) {
                note_edit_value = inputTag.value;
            }
        })

        await fetch("/edit-note", {
            method: "POST",
            body: JSON.stringify({ 
                note_id: note_id, 
                note_edit_value: note_edit_value
            })
        })
            .then(response => {
                window.location.href = "/";
            })
    }

    const deleteNote = async (note_id) => {
        await fetch("/delete-note", {
            method: "POST",
            body: JSON.stringify({ note_id: note_id })
        })
            .then(response => {
                window.location.href = "/";
            })
    }
</script>

<style>
    .homepage-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .homepage-content__heading {
        text-align: center;
    }

    .list-group-item-wrap {
        display: flex;
        align-items: center;
    }

    .edit-note-btn, .delete-note-btn, .save-edit-note-btn {
        display: inline-block;
        width: 80px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 3px;
    }

    .edit-note-btn {
        margin-left: 10px;
        background-color: rgb(195, 222, 42);
    }

    .save-edit-note-btn {
        display: none;
        margin-left: 10px;
        background-color: rgb(63, 222, 42);
    }

    .delete-note-btn {
        margin-left: 10px;
        background-color: rgb(255, 41, 41);
    }

    .list-group-item-input {
        display: none;
    }
</style>
{% endblock %}
