{% extends "base.html" %} {% block title %} Home - Todolist App {% endblock %} {% block
content %}
<div class="homepage-content">
    <div class="homepage-content__heading">
        </br>
        <h3>Welcome to Todolist Application</h3>
        </br>
        <h3>Notes</h3>
        </br>
    </div>

    <div>
        <ul class="list-group list-group-flush" id="notes">
            {% for note in user.notes%}
            <div class="list-group-item-wrap">
                <li class="list-group-item">{{note.data}}</li>

                <button onclick="editNote(`{{note.id}}`)" class="edit-note-btn">Edit</button>

                <button onclick="deleteNote(`{{note.id}}`)" class="delete-note-btn">Delete</button>
            </div>
            {% endfor %}
        </ul>

        </br>

        <form method="POST" action="/">
            <textarea name="note" id="note" class="form-control"></textarea>
            </br>
            <button type="submit" class="btn btn-primary">Add Note</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    const editNote = (note_id) => {
        console.log(`Edit note ${note_id}...`);
    }

    const deleteNote = (note_id) => {
        fetch("/delete-note", {
            method: "POST",
            body: JSON.stringify({ note_id: note_id })
        })
            .then((response) => {
                window.location.href = "/";
            });
    }
</script>

<style>
    .homepage-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .homepage-content__heading {
        text-align: center;
    }

    .list-group-item-wrap {
        display: flex;
        align-items: center;
    }

    .edit-note-btn, .delete-note-btn {
        display: inline-block;
        width: 80px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 3px;
    }

    .edit-note-btn {
        margin-left: 10px;
        background-color: rgb(195, 222, 42);
    }

    .delete-note-btn {
        margin-left: 10px;
        background-color: rgb(255, 41, 41);
    }
</style>
{% endblock %}
